html, body {
  margin: 0;
  height: 100%;
}
div{
  overflow: hidden;
}
button{
  margin-bottom: 10px;
  margin-right: 10px;
}
.full-screen-canvas {
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  display: block;
}
